body{
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    color: white;
}

h1{
    position: absolute; 
    padding-left: 30px;
    padding-right: 65%;
    /* margin: 0,40px; */
    top: 150px;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    /* size: 70px; */
}

h3{
    padding-top: 30px;
}

h5{
    color: black;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.top-container{
    position: relative;
    background-image: url('https://www.linkpicture.com/q/peakpx-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'DM Serif Display', serif;
    color: #3C2A21;

    /* color: #f60a0c; */

}
.site-logo{
    position: absolute;
    top: 15px;
    margin-left: 20px;
}
.nav-item{
    margin-top: 10px;
    padding: 0 10px;
}
.nav-link{
    font-family: 'Bebas Neue', cursive;
    color: ghostwhite;
}
.nav-link:hover{
    color: black;
}
.collapse{
    padding-right: 30px;
}
.features-sec{
    padding: 0px 60px;
}

.row{
    text-align: center;
}
.features-icon:hover {
    color: #f60a0c;
}

.testimonial-text-joey{
    line-height: 1;
}

.testimonial-text-300{
    line-height: 1.5;
}


.testimonial-text{
    padding: 0 13%;
    line-height: 3rem;
}

.testimonial-para{
    color: #ffffff;
    padding-left: 45%;
}

.testimonial-image{
    margin: 10px 0 30px;
}

.carousel-item{
    padding: 5% 10%;
}

.card-header{
    color: black;
}

.listen-now-column{
    padding: 2% 3%;
}

.listen-now-text{
    font-size: 300%;
}

.listen-now-para{
    font-size: 120%;
}

.news-section-para{
    color: #0A1828;
    font-weight: bolder;
}

.card-body-text{
    color: black;
}

.btn{
    margin-top: 20px;
}


.first-news-card{
    /* margin: 4%; */
    margin-left: 40px;
    background-color: black;
    color: #ffffff;
}

.second-news-card{
    margin-right: 40px;
    background-color: black;
    color: #ffffff;
}

.news-card-header{
    color: #ffffff;
    padding-top: 20px;
}

.news-section-text{
    padding-bottom: 30px;
}

.news-text{
    padding: 0 30px;
}

.dhh-first-news-card{
    margin-left: 40px;
    background-color: white;
    color: black;
}

.dhh-second-news-card{
    margin-right: 40px;
    background-color: white;
    color: black;
}

.dhh-section-text{
    padding-bottom: 30px;
}

.dhh-card-header{
    color: black;
    padding-top: 20px;
}

.copyrights{
    margin-bottom: 20px;
    padding-top: 20px;
} 

.aotd-text{
    padding: 30px 0 10px;
    color: white;
    font-weight: bolder;
}

.name{
    color: black;
}

.aotd{
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 1.5;
}

.aotd-img{
    float: left;
    margin-right: 40px;
    border-radius: 10px;
}

.footer-icon{
    padding: 20px 10px;
}


#title{
    background-color: #0A1828;
}

#features{
    padding-bottom: 50px;
}

#testimonials{
    background-color: #f60a0c;
    text-align: center;
    line-height: 2rem;
}

#listen-now{
    text-align: center;
    padding: 60px 100px 100px;
}

#news-section{
    text-align: center;
    padding: 40px 0px;
    background-color: #f60a0c;
}

#dhh{
    text-align: center;
    padding: 40px 0px;
    background-color: black;
}

#aotd{
    background-color: #f60a0c;
    padding: 2% 3%;
    text-align: center;
}

#cta{
    text-align: center;
    background-color: black;
}

#footer{
    text-align: center;
    background-color: black;
} 

 @media (max-width: 530px) {
    .top-container{
        text-align: center;
    }
}


/* .aotd-heading{
    padding-bottom: 20px;
    color: white;
    position: relative;
    left: 200px;
} */

/* .aotd{
    width: 50%;
    margin: auto;

} */

/* .heading{
    font-family: 'Anton', sans-serif;
    padding-top: 50px;
    color: black;
} */


